@model ShoppingCartViewModel
@{
    Layout = null;
}
<link href="~/css/header.css" rel="stylesheet" />
<link href="~/css/general.css" rel="stylesheet" />
<link href="~/css/shoppingcart.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/responsivecontainer.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<body style="background-color: rgb(230,230,230)">
    <header class="header">
        <partial name="_HeaderPartial" />
    </header>
    @if(Model.CartItems != null)
    {
        <div class="cart-products-container">
            <a class="btn btn-danger" href="@Url.Action("ClearCart", "ShoppingCart")">Clear Cart</a>
            @foreach(var item in Model.CartItems)
            {
                <div class="cart-product js-cart-product-@item.ProductID">
                    <img src="~/Img/@item.Product.Image" class="cart-product-image">
                    <div class="cart-product-info"> 
                        <p class="cart-product-name">@item.Product.Name</p>
                        <div class="cart-product-rating">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= @item.Product.AverageRating)
                                {
                                    <i class="fa-solid fa-star fa-sm" style="color: #29db47;"></i>
                                }
                                else if (@item.Product.AverageRating >= (i - 1) + 0.5 && @item.Product.AverageRating < i)
                                {
                                    <i class="fa-solid fa-star-half-stroke fa-sm" style="color: #29db47;"></i>
                                }
                                else
                                {
                                    <i class="fa-regular fa-star fa-sm"></i>
                                }
                            }
                        </div>
                    </div>

                    <div class="delivery-choices">
                        <div class="delivery-choice-container">
                            <input type="radio" id="delivery-option-1-@item.ProductID" name="delivery-options-@item.ProductID">
                            <label for="delivery-option-1-@item.ProductID">Free Shipping</label>
                        </div>

                        <div class="delivery-choice-container">
                            <input type="radio" id="delivery-option-2-@item.ProductID" name="delivery-options-@item.ProductID">
                            <label for="delivery-option-2-@item.ProductID">Pick up Today</label>
                        </div>

                        <div class="delivery-choice-container">
                            <input type="radio" id="delivery-option-3-@item.ProductID" name="delivery-options-@item.ProductID">
                            <label for="delivery-option-3-@item.ProductID">Ship Today for $5.99</label>
                        </div>
                    </div>

                    <div class="item-quantity-and-price">
                        <div class="quantity-container">
                            <span class="quantity-selected">Quantity Selected</span>
                            @{
                                double productPrice = item.Product.Price;
                                string formattedPrice = productPrice.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture);
                            }
                            <select class="quantity-selector" onchange="updateItemQuantityInCheckout(@item.ProductID, this.value); updateItemQuantityHTML(@item.ProductID), updateProductTotalPrice(@item.ProductID, this.value, '@formattedPrice')">
                                <option style="display: none" selected >@item.Quantity</option>
                                @for(int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>

                        <div class="prices-container">
                            <span class="cart-product-total-price ">Total: $<span class="js-product-total-@item.ProductID">@(item.Product.Price * @item.Quantity)</span></span>
                        </div>

                        <span class="cart-product-price">$@item.Product.Price each</span>
                        <button class="btn btn-danger" onclick="removeFromCart(@item.Product.ID, '@item.Product.Name')">Remove Item</button>
                
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h1 style="text-align: center;">There are no items in your cart yet!</h1>
    }
    <script src="~/js/shoppingCart.js"></script>
    <script src="https://kit.fontawesome.com/8da1ba04bb.js" crossorigin="anonymous"></script>

</body>
