
@{
    Layout = null;
}

@model ProductDisplayViewModel

<link rel="stylesheet" href="~/css/productsIndex.css" />
<link rel="stylesheet" href="~/css/general.css" />
<link href="~/css/productsdisplay.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/responsiveContainer.css" />
<link rel="stylesheet" href="~/css/header.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<body style="background-color: rgb(230,230,230)">
    <header class="header">
        <partial name="_HeaderPartial" />
    </header>
    <nav class="sidebar-filter">
        <p id="filter-announcement">Filter By:</p>
        <p class="filter-option">Category</p>
        @foreach (var filterOption in Model.Categories)
        {
            <a style="text-decoration: none;" class="option" href="@Url.Action("CategoryFilter", "Product", new {categoryID = filterOption.ID, companyProductsFilter = true })">
                <div class="option-container">
                    @{
                        string iconName = filterOption.Name + "Icon.svg";
                    }
                    <img class="filter-icon" src="~/icons/@iconName">
                    @filterOption.Name
                </div>
            </a>
        }       
        <p class="filter-option">Price</p>
        <a style="text-decoration: none;" class="option" href="@Url.Action("PriceFilter", "Product", new {order = "ascending", companyProductsFilter = true })">
            <div class="option-container">
                <i class="fa-solid fa-money-bill" style="color: #000000;"></i>
                <p class="option">Lowest</p>
            </div>
        </a>
        <a style="text-decoration: none;" class="option" href="@Url.Action("PriceFilter", "Product", new {order = "descending", companyProductsFilter = true })">
            <div class="option-container">
                <i class="fa-solid fa-sack-dollar" style="color: #000000;"></i>
                <p class="option">Highest</p>
            </div>
        </a>
        <p class="filter-option">Rating</p>
        <a style="text-decoration: none;" class="option" href="@Url.Action("RatingFilter", "Product", new {order = "descending", companyProductsFilter = true })">
            <div class="option-container">
                <i class="fa-solid fa-star fa-sm" style="color: #29db47;"></i>
                <p class="option">Highest</p>
            </div>
        </a>
        <a style="text-decoration: none;" class="option" href="@Url.Action("RatingFilter", "Product", new {order = "ascending", companyProductsFilter = true })">
            <div class="option-container">
                <i class="fa-solid fa-star fa-sm" style="color: red;"></i>
                <p class="option">Lowest</p>
            </div>
        </a>
    </nav> 
    <main>
        <section>
            <div class="responsive-container">
                <div class="products-display-grid">

                    @foreach (var product in Model.Products)
                    {
                        <div class="product-card">
                            <a style="text-decoration: none" class="details-link" href="@Url.Action("Details", "Product", new {productID = product.ID})">
                                <img src="~/Img/@product.Image">
                                <div class="product-info">
                                    <div class="product-rating">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= product.AverageRating)
                                            {
                                                <i class="fa-solid fa-star fa-sm" style="color: #29db47;"></i>
                                            }
                                            else if (product.AverageRating >= (i - 1) + 0.5 && product.AverageRating < i)
                                            {
                                                <i class="fa-solid fa-star-half-stroke fa-sm" style="color: #29db47;"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-regular fa-star fa-sm"></i>
                                            }
                                        }
                                    </div>
                                    <div class="product-name-container">
                                        <h3 class="product-name">@product.Name</h3>
                                    </div>
                                    <h5 class="product-category">@product.Category.Name</h5>
                                    <h3 class="product-price">$@product.Price</h3>
                                </div>
                            </a>
                            <div class="product-buttons-column-box">
                                <div class="product-buttons-flexbox">
                                    <a style="font-size: 18px; padding: 10px 30px; border-radius: 7px;" class="btn btn-primary" href="@Url.Action("Update", "Product", new {productID = @product.ID})">Update</a>
                                    <a style="text-decoration: none" href="@Url.Action("Details", "Product", new {productID = @product.ID})" class="details-button">Details</a>
                                </div>
                                <div class="product-buttons-flexbox">
                                    <a style="font-size: 18px; padding: 10px 30px; border-radius: 7px;" class="btn btn-danger" href="@Url.Action("Delete", "Product", new {productID = @product.ID})">Delete</a>
                                    @if (!product.Archived)
                                    {
                                        <a style="font-size: 18px; padding: 10px 30px; border-radius: 7px;" class="btn btn-info" href="@Url.Action("ManageProductArchiving", "Product", new {productID = product.ID, option = 1})">Archive</a>
                                    }
                                    else
                                    {
                                        <a style="font-size: 18px; padding: 10px 30px; border-radius: 7px;" class="btn btn-success" href="@Url.Action("ManageProductArchiving", "Product", new {productID = product.ID, option = 2})">Un-Archive</a>
                                    }
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </section>
    </main>

    <script src="https://kit.fontawesome.com/8da1ba04bb.js" crossorigin="anonymous"></script>
    <script src="~/js/shoppingcart.js"></script>
</body>
@* <a class="btn btn-primary" href="@Url.Action("Create", "Product")">Add Product</a>
<table class="table table-striped table-primary">
  <tr>
    <th>ProductID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Stock</th>
    <th>Price</th>
    <th>Image</th>
    <th>ReleaseDate</th>
    <th>UserID</th>
    <th>Action</th>
    <th>Action</th>
    <th>Action</th>
  </tr>

    @foreach (var product in @Model)
    {
      <tr>
        <td>@product.ID</td>
        <td>@product.Name</td>
        <td>@product.Category.Name</td>
        <td>@product.Stock</td>
        <td>@product.Price</td>
        <td> <img style="width: 200px;" src="~/Img/@product.Image"> </td>
        <td>@product.ReleaseDate</td>
        <td>@product.UserID</td>
        <td> <a class="btn btn-secondary" href="@Url.Action("Update", "Product", new {productID = product.ID})">Update</a></td>
        <td> <a class="btn btn-danger" href="@Url.Action("Delete", "Product", new {productID = product.ID})">Delete</a></td>
        @if (!product.Archived)
        {
            <td> <a class="btn btn-primary" href="@Url.Action("ManageProductArchiving", "Product", new {productID = product.ID, option = 1})">Archive</a></td>
        }
        else{
            <td> <a class="btn btn-success" href="@Url.Action("ManageProductArchiving", "Product", new {productID = product.ID, option = 2})">Un-Archive</a></td>
        }
      </tr>
    }

</table> *@