@model ProductCreateViewModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/general.css" rel="stylesheet" />
<link href="~/css/create-product.css" rel="stylesheet" />


<header class="header">
    <partial name="_HeaderPartial" />
</header>

   

<div class="container shadow p-3 mb-5 bg-white rounded">
    <form asp-controller="Product" asp-action="Create" enctype="multipart/form-data" id="product-form">

        <div class="form-row">
            <input type="text" hidden value="@Model.User.CompanyID" asp-for="@Model.Product.CompanyID" />
            <div class="form-group col-md-6">
                <label for="inputEmail4">Product Name</label>
                <input type="text" class="form-control" placeholder="Name" asp-for="@Model.Product.Name" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Stock</label>
                <input type="text" class="form-control" placeholder="Stock" asp-for="@Model.Product.Stock" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress2">Price</label>
            <input type="number" class="form-control" placeholder="Price" asp-for="@Model.Product.Price" required>
        </div>
        <div class="form-group">
            <label for="inputAddress2">Image</label>
            <input type="file" class="form-control" placeholder="Image" asp-for="@Model.Product.Image" id="product-image" multiple>
        </div>
        <div class="form-group">
            <label for="inputEmail4">Release Date</label>
            <input type="text" class="form-control" placeholder="Release Date" asp-for="@Model.Product.ReleaseDate" required>
        </div>
        <div class="form-group">
            <label for="inputAddress2">Description</label>
            <textarea id="description" class="form-control" placeholder="Description" asp-for="@Model.Product.Description"></textarea>
        </div>
        <div class="category-select-container">
            <select style="font-size: 20px; height: 50px;" class="btn btn-primary" asp-for="Product.CategoryID" id="product-category"
                    asp-items="@(new SelectList(Model.Categories, nameof(Category.ID), nameof(Category.Name)))">
                <option value="">Select a Category</option>
            </select>
        </div>
        <div class="create-button-container">
            <button type="submit" class="btn btn-success create-button" style="font-size: 24px;">Add Product</button>
        </div>
    </form>
</div>

<script src="~/js/product-create.js"></script>


