@model ProductDetailsViewModel
<table class="table table-striped table-primary">
    <tr>
        <th>Name</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Image</th>
        <th>ReleaseDate</th>
        <th>Company</th>
        <th>Category</th>
        @{
            if (Model.HasUserBoughtProduct)
            {
                <th>Action</th>
            }
        }
    </tr>

    <tr>
        <td>@Model.Product.Name</td>
        <td>@Model.Product.Stock</td>
        <td>@Model.Product.Price</td>
        <td> <img style="width: 200px" src="@Model.Product.Image" /></td>
        <td>@Model.Product.ReleaseDate</td>
        <td>@Model.Product.Company.Name</td>
        <td>@Model.Product.Category.Name</td>
        @{
            if (Model.HasUserBoughtProduct)
            {
                <td> <a class="btn btn-primary" href="@Url.Action("Create", "Review", new {productID = @Model.Product.ID})">Add Review</a></td>
            }
        }
    </tr>
</table>

@{

    if(@Model.Reviews.Count != 0){
        <h2>PRODUCT REVIEWS</h2>
        <table class="table table-striped table-dark">
            <tr>
                <th>Reviewer</th>
                <th>Body</th>
                <th>Rating</th>
            </tr>

            @foreach(var review in Model.Reviews)
            {
                <tr>
                    <td>@review.User.UserName</td>
                    <td>@review.Body</td>
                    <td>@review.Rating</td>
                </tr>
            }
        </table>
    }
    else
    {
        <h2>THIS PRODUCT HAS NO REVIEWS YET</h2>
    }
}