@model IEnumerable<Product>

<table class="table table-striped table-dark">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Stock</th>
    <th>Price</th>
    <th>Image</th>
    <th>ReleaseDate</th>
    <th>Company</th>
    <th>Action</th>
    <th>Action</th>
  </tr>

    @foreach (var product in @Model)
    {
      <tr>
        <td>@product.Name</td>
        <td>@product.Category.Name</td>
        <td>@product.Stock</td>
        <td>@product.Price</td>
        <td> <img style="width: 200px;" src="~/Img/@product.Image"> </td>
        <td>@product.ReleaseDate</td>
        <td>@product.Company.Name</td>
        <td> <a class="btn btn-warning" href="@Url.Action("Create", "Transaction", new {productID = product.ID})">Purchase</a></td>
        <td> <a class="btn btn-primary" href="@Url.Action("Details", "Product", new {productID = product.ID})">Details</a></td>
      </tr>
    }

</table>