@{
    Layout = null;
}

@model ProductDisplayViewModel

<link rel="stylesheet" href="~/css/productsIndex.css" />
<link rel="stylesheet" href="~/css/general.css" />
<link href="~/css/productsdisplay.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/responsiveContainer.css" />
<link rel="stylesheet" href="~/css/header.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<body style="background-color: rgb(230,230,230)">
    <header class="header">
        <partial name="_HeaderPartial" />
    </header>
    <nav class="sidebar-filter">
        <p id="filter-announcement">Filter By:</p>
        <p class="filter-option">Category</p>
        @foreach (var filterOption in Model.Categories)
        {
            <a style="text-decoration: none;" class="option" href="@Url.Action("CategoryFilter", "Product", new {categoryID = filterOption.ID})">
                <div class="option-container">
                    @{
                        string iconName = filterOption.Name + "Icon.svg";
                    }
                    <img class="filter-icon" src="~/icons/@iconName">
                    @filterOption.Name
                </div>
            </a>
        }

        <p class="filter-option">Company</p>
        @foreach (var filterOption in Model.Companies)
        {
            <a style="text-decoration: none;" class="option" href="@Url.Action("CompanyFilter", "Product", new {companyID = filterOption.ID})">
                <div class="option-container">
                    @{
                        string iconName = filterOption.Name + "Icon.svg";
                    }
                    <img class="filter-icon" src="@filterOption.Logo">
                    @filterOption.Name
                </div>
            </a>
        }
        <p class="filter-option">Price</p>
        <a style="text-decoration: none;" class="option" href="@Url.Action("PriceFilter", "Product", new {order = "ascending"})">
            <div class="option-container">
                <i class="fa-solid fa-money-bill" style="color: #000000;"></i>
                <p class="option">Lowest</p>
            </div>
        </a>
        <a style="text-decoration: none;" class="option" href="@Url.Action("PriceFilter", "Product", new {order = "descending"})">
            <div class="option-container">
                <i class="fa-solid fa-sack-dollar" style="color: #000000;"></i>
                <p class="option">Highest</p>
            </div>
        </a>
        <p class="filter-option">Rating</p>
        <a style="text-decoration: none;" class="option" href="@Url.Action("RatingFilter", "Product", new {order = "descending"})">
            <div class="option-container">
                <i class="fa-solid fa-star fa-sm" style="color: #29db47;"></i>
                <p class="option">Highest</p>
            </div>
        </a>
        <a style="text-decoration: none;" class="option" href="@Url.Action("RatingFilter", "Product", new {order = "ascending"})">
            <div class="option-container">
                <i class="fa-solid fa-star fa-sm" style="color: red;"></i>
                <p class="option">Lowest</p>
            </div>
        </a>
    </nav> 
    <main>
        <section>
            <div class="responsive-container">
                <div class="products-display-grid">

                    @foreach (var product in Model.Products)
                    {
                        <div class="product-card">
                            <a style="text-decoration: none" class="details-link" href="@Url.Action("Details", "Product", new {productID = product.ID})">
                                <img src="@product.Image">
                                <div class="product-info">
                                    <div class="product-rating">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= product.AverageRating)
                                            {
                                                <i class="fa-solid fa-star fa-sm" style="color: #29db47;"></i>
                                            }
                                            else if (product.AverageRating >= (i - 1) + 0.5 && product.AverageRating < i)
                                            {
                                                <i class="fa-solid fa-star-half-stroke fa-sm" style="color: #29db47;"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-regular fa-star fa-sm"></i>
                                            }
                                        }
                                    </div>
                                    <div class="product-name-container">
                                        <h3 class="product-name">@product.Name</h3>
                                    </div>
                                    <h5 class="product-category">@product.Category.Name</h5>
                                    <h3 class="product-price">$@product.Price</h3>
                                </div>
                            </a>
                            <div class="product-buttons-flexbox">
                                <select class="product-add-to-cart-button" id="product-add-to-cart-button-@product.ID" onchange="addItemToCart(@product.ID, this.value,'@product.Name'); updateCartItemQuantity(this.value); resetDropdown(this);">
                                    <option style="display: none" selected>Add to Cart</option>
                                    @for (int i = 1; i <= 10; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                                <a style="text-decoration: none" href="@Url.Action("Details", "Product", new {productID = @product.ID})" class="details-button">Details</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </main>

    <script src="https://kit.fontawesome.com/8da1ba04bb.js" crossorigin="anonymous"></script>
    <script src="~/js/shoppingcart.js"></script>
</body>