@using EcommerceApp1.Helpers.Enums;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    string userID = UserManager.GetUserId(@User);
    AppUser currentUser = UserManager.FindByIdAsync(userID).Result;
    int userIntID = Convert.ToInt32(userID);

}

<link rel="stylesheet" href="~/css/header.css" />

<div class="responsive-container">

    <div class="header-items-container">
        <a href="@Url.Action("Index", "Product")">
            <img class="shop-logo" src="~/Img/flamingshop.png" />
        </a>
        <ul class="header-items-list">
            <li class="header-item"> <a href="@Url.Action("Index", "Product")">Home</a></li>
            <li class="header-item"><a>Products</a></li>
            <li class="header-item"><a>About</a></li>
            <li class="header-item"><a>FAQ</a></li>
            <li class="header-item"><a>Contact</a></li>
        </ul>
        <div class="user-options">
            @if (User.IsInRole(UserRolesEnum.Admin.ToString()))
            {
                <div class="options-menu-dropdown">
                    <p class="options-menu-trigger">Admin Menu</p>
                    <ul class="options-menu">
                        <li>
                            <a href="@Url.Action("CompanyRefunds", "Refund", new {companyID = currentUser.CompanyID})">Refund Requests</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CompanyCoupons", "Coupon", new {companyID = currentUser.CompanyID})">Manage Coupons</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CompanyProducts", "Product", new {companyID = currentUser.CompanyID})">Company Products</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CompanyStats", "Company")">Company Stats</a>
                        </li>
                    </ul>
                </div>
            }
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="options-menu-dropdown">
                    <p class="options-menu-trigger">Hello @User.Identity.Name!</p>
                    <ul class="options-menu">
                        <li>
                        <a href="@Url.Action("Update", "AppUser")">Update Profile</a>
                        </li>
                        <li>
                        <a href="@Url.Action("UserCards", "CreditCard", new {userID = userIntID})">Your Credit Cards</a>
                        </li>
                        <li>
                        <a  href="@Url.Action("UserRefunds", "Refund", new {userID = userIntID})">Your Refunds</a>
                        </li>
                        <li>
                        <a  href="@Url.Action("UserTransactions", "Transaction", new {userID = userIntID})">Activity</a>
                        </li>
                        <li>
                        </li>
                    </ul> 
                </div>
                <form class="form-inline" asp-controller="AppUser" asp-action="Logout">
                    <button class="logout-button" type="submit" >Logout</button>
                </form>
            }
            else
            {
                <ul class="header-items-list">
                    <li class="header-item">
                    <a  asp-controller="AppUser" asp-action="Register">Register</a>
                    </li>
                    <li class="header-item">
                    <a  asp-controller="AppUser" asp-action="Login">Login</a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
